<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="searchDoctor.css">
</head>
<body>
    <!-- <div class="box"> 
    <input id="search" type="search" placeholder="search doctor">
    <button id="search-button"></button>
</div> -->
<div class="search">
    <input type="search" id="search"  placeholder="search doctor">
    <div><button id="search-button"></button></div>
  </div>
  
</body>
</html>